@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #4bb7ac;
    font-weight: 800;
    cursor: pointer; 
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}



nav a{
    font-family:fantasy;
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #4bb7ac;
    /* border-bottom: 3px solid #4bb7ac; */
}

#about {
    padding-top: 120px;
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    scroll-margin-top: 80px
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #4bb7ac;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position:relative;
    width: 15vw;

    aspect-ratio: 1 / 1;    /* Forces the image to be a perfect square */
    object-fit: cover;      /* Prevents the image from looking "squashed" */
    object-position: center; /* Keeps the face/subject in the middle */

    border-radius: 50%;
    box-shadow: 0 0 25px solid #4bb7ac;
    cursor: pointer;
    transition: 0.3s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: translateY(-10px);
    border-color: #4bb7ac;
    box-shadow:
        0 0 10px #4bb7ac,
        0 0 25px rgba(75, 183, 172, 0.5),
        0 0 50px rgba(75, 183, 172, 0.3);
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #4bb7ac;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #4bb7ac;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #4bb7ac;
    box-shadow: 0  0 25px #4bb7ac;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #4bb7ac;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #4bb7ac;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #4bb7ac;
    color: black;
    box-shadow: 0 0 25px #4bb7ac;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}



footer{
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-color: #111;
    font-size: 1.6rem;
    color: #aaa;
    border-top: 1px solid rgba(255,255,255,0.1);
}


/* ===== ABOUT SECTION ===== */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: black;
    text-align: center;
}

.about-me h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.about-me p{
    font-size: 2rem;
    color: #ccc;
    max-width: 800px;
    margin: 1rem auto;
    line-height: 1.8;
}

.section-title{
    font-size: 3rem;
    margin-bottom: 4rem;
}

.diamond{
    color: #4bb7ac;
    margin: 0 1rem;
}

/* ===== EDUCATION GRID ===== */

.education-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3rem;
    width: 100%;
    max-width: 1100px;
}

.glass-card{
    background-color: #111;
    border: 2px solid #222;
    padding: 3rem 2rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.glass-card:hover{
    border-color: #4bb7ac;
    box-shadow: 
        0 0 10px #4bb7ac,
        0 0 25px rgba(75, 183, 172, 0.5),
        0 0 50px rgba(75, 183, 172, 0.3);
    transform: translateY(-8px);
}

.glass-card::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(75,183,172,0.15) 0%, transparent 60%);
    transform: scale(0);
    transition: 0.4s ease;
}

.glass-card:hover::before{
    transform: scale(1);
}

.glass-card:hover h3{
    color: #4bb7ac;
}

/* ==================================================== */

.education-card h3{
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
}

.education-card p{
    font-size: 1.6rem;
    color: #aaa;
}

.edu-icon{
    font-size: 3rem;
    color: #4bb7ac;
}


/* ===== SKILLS SECTION ===== */

.skills-section{
    background-color: black;
    text-align: center;
}

.skills-grid{
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 4rem;
    max-width: 900px;
    margin: 5rem auto 0;
    display: flex;
}

/* ===== SKILL BOX ===== */

.skill-box{
    background-color: #111;
    border: 2px solid #222;
    border-radius: 2rem;
    padding: 3rem;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glow Hover Like Education */
.skill-box:hover{
    transform: translateY(-10px);
    border-color: #4bb7ac;
    box-shadow:
        0 0 10px #4bb7ac,
        0 0 25px rgba(75, 183, 172, 0.5),
        0 0 50px rgba(75, 183, 172, 0.3);
}

/* Icon Size */
.skill-box img{
    width: 60px;
    height: 60px;
    transition: 0.3s ease;
}

/* Slight zoom on hover */
.skill-box:hover img{
    transform: scale(1.2);
}

/* ===================================================== */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: black;
    text-align: center;
}

.contact-me h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact-me p{
    font-size: 2rem;
    color: #ccc;
    max-width: 800px;
    margin: 1rem auto;
    line-height: 1.8;
}

.contact-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px;
  max-width: 900px;
  margin: 50px auto;
  background: var(--card-bg);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Info Cards Styling */
.contact-info {
  display: grid;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.contact-box{
  background: #1e1e1e;
  padding: 15px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.3s;
}

.contact-box .icon {
  font-size: 24px;
  min-width: 40px;
  display: flex;
  justify-content: center;
}

.contact-box p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.contact-box:hover{
    transition: 0.4s;
    border-color: #4bb7ac;
    box-shadow: 
        0 0 10px #4bb7ac,
        0 0 25px rgba(75, 183, 172, 0.5),
        0 0 50px rgba(75, 183, 172, 0.3);
    transform: translateY(-8px);
}

.home .home-content p{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ===== CERTIFICATES SECTION ===== */
.certificates-grid {
  display: flex; /* Arranges items in a row */
  flex-wrap: wrap; /* Allows items to jump to the next line */
  gap: 20px; /* Space between each image */
  justify-content: center; /* Centers the whole group */
  padding: 20px;
}

.certificates-grid a {
  flex: 0 1 auto; /* Allows images to keep their natural size */
}

.certificates-grid img {
  max-width: 300px; /* Limits how big they can get so they don't take over the screen */
  height: auto; /* Keeps the original aspect ratio (no zooming/cropping) */
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.certificates-grid img:hover {
    transform: translateY(-10px);
    border-color: #4bb7ac;
    box-shadow:
        0 0 10px #4bb7ac,
        0 0 25px rgba(75, 183, 172, 0.5),
        0 0 50px rgba(75, 183, 172, 0.3);
}

/* ========================================= */
/* Fade Up Animation Keyframes*/
/* ========================================= */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ========================================= */
/* Fade Up Animation - HomePage */
/* ========================================= */
.home-img img,
.home-content h1,
.home-content h3,
.home-content p,
.btn {
    opacity: 0;
}

.home-img img {
    animation: fadeUp 1s ease forwards;
}
.home-content h1 {
    animation: fadeUp 1s ease forwards;
}
.home-content h3 {
    animation: fadeUp 1.2s ease forwards;
}
.home-content p {
    animation: fadeUp 1.4s ease forwards;
}
.btn {
    animation: fadeUp 1.6s ease forwards;
}
/* ========================================= */
/* Fade Up Animation - AboutPage */
/* ========================================= */

.about-me,
.education-section,
.skills-section,
.Certificates {
    opacity: 0;
}

.about-me {
    animation: fadeUp 1s ease forwards;
}
.education-section {
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.3s;
}
.skills-section {
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.6s;
}
.Certificates {
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.9s;
}

.education-card {
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
}

.education-card:nth-child(1) {animation-delay: 0.4s;}
.education-card:nth-child(2) {animation-delay: 0.6s;}
.education-card:nth-child(3) {animation-delay: 0.8s;}

.skill-box {
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
}

.skill-box:nth-child(1) { animation-delay: 0.7s; }
.skill-box:nth-child(2) { animation-delay: 0.8s; }
.skill-box:nth-child(3) { animation-delay: 0.9s; }
.skill-box:nth-child(4) { animation-delay: 1s; }
.skill-box:nth-child(5) { animation-delay: 1.1s; }
.skill-box:nth-child(6) { animation-delay: 1.2s; }
/* ========================================= */
/* MOBILE OPTIMIZATION */
/* ========================================= */

@media(max-width:768px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5%;
    }
    nav{
        position: fixed;
        display: flex;
        gap: 1.5rem;
        top: 10;
        right: 0;
        width: 40%;
        border-left: 3px  #4bb7ac;
        border-bottom: 3px  #4bb7ac;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #000000;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: inline-block;
        margin: 0;
    }

    nav a:hover,
    nav a.active{
        padding: 0.5rem;
        border-radius: 0.5rem;
        /* border-bottom: 0.5rem solid #4bb7ac; */
    }
}



@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
        gap: 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}


@media (max-width: 768px) {

    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 5%;
    }

    section{
        padding: 5rem 5%;
    }

    .home{
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .home-content h1{
        font-size: 4rem;
    }

    .home-content h3{
        font-size: 2.2rem;
    }

    .home-img img{
        width: 60vw;
    }

    .skills-grid{
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;   
    }

    .skill-box{
        padding: 2rem;
    }

    .skill-box img{
        width: 45px;
        height: 45px;
    }

    .education-grid{
        grid-template-columns: 1fr;
    }

    .contact-container{
        padding: 30px 20px;
        gap: 30px;
    }

    nav a{
        margin-left: 2rem;
        font-size: 1.6rem;
    }
}